
:root {
  --primary-pink: #e879f9;
  --deep-black: #121212;
  --soft-purple: #c084fc;
  --pure-white: #ffffff;
}

body {
    font-family: 'ReadexPro', sans-serif;
    background: linear-gradient(to bottom, var(--primary-pink), var(--deep-black));
    color: var(--pure-white);
}

.profile-pic-container {
    position :absolute; 
    top : 70px ; 
    left : 3px ; 
    padding: 0%;
    z-index: 10;
}
    
.profile-pic {
    width: 130px; 
}

.logo-container {
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 51; 
    padding: 0;
}

.logo-pic {
    width: 75px;
}

.black-text {
    color: var(--deep-black);
    text-shadow: var(--pure-white)
}

.title {
    margin-left: 5px;
    margin-top: -280px;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--pure-white); 
    text-shadow: 1px 1px 2px #000;
}

.name {
    font-size: 2.5rem;
    margin-top: 8px;
    margin-left: 60px; 
    font-weight: 900;
    line-height: 1.2;
    color: var(--pure-white); 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.des {
    font-size: 1.3rem;
    margin-top: 5px;
    margin-left: 168px; 
    font-weight: 600;
    color: var(--pure-white);
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.professional {
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--deep-black);
    margin-top: 0px;
    margin-left: 78px; 
    text-decoration: underline;
    text-shadow: 1px 1px 2px var(--pure-white);
}

.skill-design {
    position :absolute; 
    top : 10px ; 
    right: -5px ; 
    padding: 0%;
    z-index: 10;
}
    
.skill-pic {
    width: 700px; 
}

.motto-design {
    position :absolute; 
    top : 370px ; 
    left: 0px ; 
    padding: 0%;
    z-index: 10;
}
    
.motto-pic {
    width: 350px; 
}

.goal-design {
    position :absolute; 
    top : 200px ; 
    left: 10px ; 
    padding: 0%;
    z-index: 10;
}
    
.goal-pic {
    width: 260px; 
}

.skill-title {
    background-color: var(--primary-pink);
    color: black;
    position: absolute; 
    top: 70px; 
    right: 270px; 
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.1rem; 
    width: max-content;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.project-title {
    background-color: var(--primary-pink);
    color: black;
    position: absolute; 
    top: 220px; 
    right: 665px; 
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.1rem; 
    width: max-content;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.project-design {
    position :absolute; 
    top : 265px ; 
    left: 350px ; 
    padding: 0%;
    z-index: 20;
}
    
.project-pic {
    width: 430px; 
}

.standee-design {
    position :absolute; 
    top : 110px ; 
    right: -320px ; 
    padding: 0%;
    z-index: 20;
}
    
.standee-pic {
    width: 630px; 
    
}

.resume-title {
    background-color: var(--deep-black);
    color: var(--pure-white);
    position: absolute; 
    top: 330px; 
    right: 330px; 
    border: 3px solid var(--primary-pink);
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.1rem; 
    width: max-content;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.about-title {
    background-color: var(--primary-pink);
    color: black;
    position: absolute; 
    top: 218px; 
    right: 265px; 
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.1rem; 
    width: max-content;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.aboutme-design {
    position :absolute; 
    top : 265px ; 
    right: 180px ; 
    padding: 0%;
    z-index: 20;
}
    
.aboutme-pic {
    width: 268px; 
}

.des1 {
    font-size: 1.4rem;
    margin-top: 3px;
    margin-left: 98px; 
    font-weight: 600;
    color: var(--pure-white);
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
     z-index: 10;
}

.name1 {
    font-size: 3.5rem;
    margin-top: 15px;
    margin-left: 120px; 
    font-weight: 900;
    line-height: 1.2;
    color: var(--pure-white); 
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
     z-index: 10;
}

.des2 {
    font-size: 1.5rem;
    margin-top: -2px;
    margin-left: 300px; 
    font-weight: 600;
    color: var(--pure-white);
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
     z-index: 10;
}

.professional1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--deep-black);
    margin-top: -2px;
    margin-left: 150px; 
    text-decoration: underline;
    text-shadow: 1px 1px 2px var(--pure-white);
     z-index: 10;
}

.one {
    font-size: 1.2rem;
    text-indent: 1.5em;
    margin-top: 20px;
    margin-left: -80px; 
    font-weight: 600;
    color: var(--pure-white);
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
     -webkit-text-stroke: .5px var(--primary-pink);
      z-index: 10;
}

.two {
    font-size: 1.2rem;
    text-indent: 1.5em;
    margin-top: 10px;
    margin-left: -80px; 
    font-weight: 600;
    color: var(--pure-white);
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
     -webkit-text-stroke: .5px var(--primary-pink);
      z-index: 10;
}

.three {
    font-size: 1.2rem;
    text-indent: 1.5em;
    margin-top: 10px;
    margin-left: -70px; 
    font-weight: 600;
    color: var(--pure-white);
    letter-spacing: 1.5px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
     -webkit-text-stroke: .5px var(--primary-pink);
      z-index: 10;
}

.black-text1 {
    color: var(--deep-black);
    text-shadow: var(--pure-white); 
     z-index: 999;
}

.title1 {
    margin-left: 5px;
    margin-top: -110px;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--pure-white); 
    text-shadow: 1px 1px 2px #000;
}

.profile-pic-container1 {
    position :absolute; 
    top : 75px ; 
    left : 10px ; 
    padding: 0%;
    z-index: 10;
}
    
.profile-pic1 {
    width: 180px; 
}

.standee1-design {
    position :absolute; 
    top : 25px ; 
    right: -400px ; 
    padding: 0%;
    z-index: 20;
}
    
.standee1-pic {
    width: 775px; 
}

.landingback-design {
    position :absolute; 
    top : -70px ; 
    left:-15px ; 
    padding: 0%;
    z-index: 5;
}
    
.landingback-pic {
    width: 600px; 
}

.skill1-title {
    background-color: var(--primary-pink);
    color: black;
    position: absolute; 
    top: 70px; 
    left: 200px; 
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.1rem; 
    width: max-content;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.language-title {
    background-color: var(--primary-pink);
    color: black;
    position: absolute; 
    top: 70px; 
    right: 270px; 
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.1rem; 
    width: max-content;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.tools-title {
    background-color: var(--primary-pink);
    color: black;
    position: absolute; 
    top: 300px; 
    right: 270px; 
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.1rem; 
    width: max-content;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.skillsback-design {
    position :absolute; 
    top : -250px ; 
    right:-275px ; 
    padding: 0%;
    z-index: 5;
}
    
.skillsback-pic {
    width: 1000px; 
}

.description-skill{
    font-weight: 575;
    font-family: 'Poppins', sans-serif;
    font-size: 90%;
    text-indent: 1.5em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
     -webkit-text-stroke: .2px var(--deep-black);

}

.title-skill{
    font-family: 'ReadexPro', sans-serif;
    font-weight: bolder;
    font-size: large;
    color: var(--deep-black); 
    text-shadow: 2px 2px 5px var(--pure-white);
}


